/**********************************************************
 * Reset/Base Styles
 */

:root {
    --border-color: #D7D7D8;
    --primary-color: #0072ED;
    --cell-header-color: #606066;
    --cell-text-color: #2f2f32;

    --gutter-md: 8px;
    --gutter-lg: 12px;

    /* Configured dynamically in `src/app.ts` */
    --task-pane-grid-columns: '1fr';
    --timeline-grid-columns: '1fr';
}

html {
    font-family: 'Source Sans Pro', 'Arial', 'sans-serif';
}

/**********************************************************
 * Gantt: Main Container Styles
 */

.gantt {
    border: 1px solid var(--border-color);
    contain: content;
    display: flex;
    flex-direction: column;

    max-height: 100vh;
    min-height: 300px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gantt-header,
.gantt-footer {
    padding: var(--gutter-md);
    flex-grow: 0;
}

.gantt-content,
.gantt-footer {
    border-top: 1px solid var(--border-color);
}

.gantt-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.gantt-footer {
    text-align: right;
}

/**********************************************************
 * Gantt: Shared Cell/Container Styles
 */

.gantt-cell-container {
    display: grid;

    /* accounts for the cells' "outline" property (simulates "border-collapse" but without using a table) */
    gap: 1px;
}

.gantt-cell {
    outline: 1px solid var(--border-color);
    min-height: 45px;
}

/**********************************************************
 * Gantt: Task Pane Styles
 */

.gantt-task-pane {
    flex-grow: 0;
    margin-inline-end: 1px; /* Fix header double-border problem due to separation */
}

.gantt-task-pane .gantt-cell-container {
    grid-template-columns: var(--task-pane-grid-columns);
}

.gantt-task-pane-header {
    color: var(--cell-header-color);
    margin-block-end: 1px; /* Fix header double-border problem due to separation */
}

.gantt-task-pane-header .gantt-cell {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/**********************************************************
 * Gantt: Timeline Styles
 */

.gantt-timeline {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* disable the next line to prevent scrollbars */
    /* @TODO work on scroll behaviors in both directions */
    overflow-x: auto;
}

.gantt-timeline-header,
.gantt-timeline-cells {
    flex-grow: 1;
}

.gantt-timeline .gantt-cell-container {
    grid-template-columns: var(--timeline-grid-columns);
}

.gantt-timeline-header {
    font-size: 14pt;
    margin-block-end: 1px; /* Fix header double-border problem due to separation */
}

.gantt-timeline-header .gantt-cell {
    color: var(--cell-text-color);
    text-align: center;
}