/**********************************************************
 * Reset/Base Styles
 */

:root {
    --border-color: #D7D7D8;
    --primary-color: #0072ED;
    --timeline-grid-columns: '1fr';
}

html {
    font-family: 'Source Sans Pro', 'Arial', 'sans-serif';
}

/**********************************************************
 * Gantt Styles
 */

.gantt {
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.gantt-header,
.gantt-footer {
    flex-grow: 0;
}

.gantt-content,
.gantt-footer {
    border-top: 1px solid var(--border-color);
}

.gantt-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.gantt-task-pane {
    flex-grow: 0;
}

.gantt-timeline {
    border-collapse: collapse;
    display: grid;
    gap: 1px; /* accounts for the cell 'outline' */
    flex-grow: 1;
    grid-template-columns: var(--timeline-grid-columns);
}

.gantt-timeline-cell {
    outline: 1px solid var(--border-color);
}

.gantt-footer {
    text-align: right;
}